body {
   background: rgb(43, 42, 42);
  
}
table {
    width: 740px;
    font-family: sans-serif;
    font-size: 14px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0px;
    background: rgb(73, 70, 70);
    color: white;
    border: 1px solid grey;
    border-radius: 5px;
    position: relative;
    margin: 20px;   
}
tr td {
    border-top: 1px solid grey;
    padding: 20px; 
    
}
tr th {
    box-sizing: border-box;
    padding: 20px;
       
}
.color-grey {
    color: grey;
}
.triangle {
    font-size: 14px;
}
tr td:last-of-type {
    text-align: right;
}
tr th:last-of-type{
    text-align: right;
}
.point input {
    position: relative;
    width: 100px;
    display: inline-block;
    height: 10px;
    background: rgb(80, 78, 78);  
    background-image: url(img/lupa.png);
    background-position: 3px 3px ;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 0px 10px 30px;
}
.picture1 {
    position: relative;
    width: 20px;
    display: inline-block;
    height: 15px;
    background-image: url(img/picture1.png);
    background-position: 4px 4px;
    background-repeat: no-repeat;
    border: none;
    outline: none;
}
.picture3 {
    position: relative;
    width: 20px;
    display: inline-block ;
    height: 20px;
    background:  rgb(73, 70, 70);
    background-image: url(img/picture3.png);
    background-position: 4px 4px;
    background-repeat: no-repeat;
    border: none;
    outline: none;

}

