body {
   background: rgb(43, 42, 42);
   box-sizing: border-box;
}
table {
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0px;
    background:  rgb(43, 42, 42);
    color: grey;
    border: 1px solid rgb(163, 157, 157);
    border-radius: 5px;
    margin: 20px;
}
td, th {
    padding: 5px;
}
td {
    width: 30%;
    border-top: 1px solid grey;
}
th, td:first-child {
    color: white;
}
td:last-child, th:last-child {
    text-align: right;
}
#table2 td:last-child, #table3 td:last-child{
    color: white;
}
.check {
    content: url(img/picture1.png);
}
.search input {
    width: 150px;
    height: 30px;
    background:rgb(79, 78, 78);
    position: relative;
    display: inline-block;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0px 30px;
    background-image: url(img/lupa.png);
    color: grey;
    background-repeat: no-repeat;
    background-position: 10px  ;
}
.picture1 {
    content: url(img/favicon.ico);
}














